[0]
layer=0
frame=0,%LENGTH%
group=1
[0.0]
effect.name=音声ファイル
再生位置=0.000
再生速度=100.00
ファイル=%AUDIOFILE%
トラック=0
ループ再生=0
[0.1]
effect.name=音声再生
音量=100.00
左右=0.00
[1]
layer=1
frame=0,%LENGTH%
group=1
[1.0]
effect.name=セリフ準備@PSDToolKit
キャラクターID=%CHARAID%
テキスト=%TEXT%
音声ファイル=%AUDIOFILE%
[1.1]
effect.name=標準描画
描画.hide=1
X=0.00
Y=0.00
Z=0.00
Group=1
中心X=0.00
中心Y=0.00
中心Z=0.00
X軸回転=0.00
Y軸回転=0.00
Z軸回転=0.00
拡大率=100.000
縦横比=0.000
透明度=0.00
合成モード=通常
